fastapi~=0.70.0
pip~=22.0.3
attrs~=21.2.0
toml~=0.10.2
cryptography~=35.0.0
py~=1.11.0
Jinja2~=3.0.2
setuptools~=57.4.0
uvicorn~=0.15.0
app~=0.0.1
SQLAlchemy~=1.4.25
python-dotenv~=0.19.1
requests~=2.27.1
pydantic~=1.9.0
jose~=1.0.0
passlib~=1.7.4
starlette~=0.16.0
bcrypt~=3.2.2