[Unit]
Description=Serviço para inicializar a API Nomades-VH
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/.nomades-postgres
ExecStart=docker-compose up
Restart=on-failure

[Install]
WantedBy=multi-user.target